NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:5000/api/v1

# Replace with your actual MongoDB URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/clustertwin?retryWrites=true&w=majority

# Replace with a strong secret key
JWT_SECRET=super_secret_jwt_key_12345

ENABLE_SIMULATOR=true
